@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color:whitesmoke;
}
.container{
    padding: 112px 105px;
}
hr{
    border: 1px solid #D1D1D1;
    
}

/* navigation bar style */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.navigation-bar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
}
.influencer-product{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.nav-list{
    display: flex;
}
.nav-list li{
    list-style: none;
    margin: 10px;
}
.nav-list a{
    text-decoration: none;
    color: #3A3A3A;
    padding: 15px 10px;
    font-weight: 600;
}

/* navgation bar style end */


/* influencer info and popular collection style */


/* influencer style start */

.influencer-info{
    display: flex;
    grid-column-gap: 132px;
}
.influencer-detail>h1{
    color: #3A3A3A;
    margin-bottom: 49px;
    font-size: 52px;
}

.influencer-detail>.button1{
    color: white;
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: bold;
    width: 194px;
    height: 44px;
    border: 1px solid;
    border-radius: 41px;
    margin-top: 20px;
    box-shadow: inset 0 0 0 0 cyan;
    transition: ease-out 0.6s;
    
}
.button1:hover{
    box-shadow: inset 194px 0 0 0 cyan;
    cursor: pointer;
    color: black;
}
.image-1{
    margin-bottom: 211px;
}

/* influencer style start */

/* popular collection style star */



.popular-collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    
}
.collections{
    margin-left: 30px;
}
.collection-1{
    box-shadow: 0 4px 16px -4px rgba(141, 140, 140, 0.4);
    width: 329px;
    height: 476px;
    
}
.collection-banner img{
    text-align: center;
    margin: 17px 15px;
}
.collection-detail{
    margin-left: 14px;
}
.section-title{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 500px;
}


.popular-collection>h1{
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
}
.collection-detail>h2{
    font-weight: 500;
    font-size: 28px;
}
.collection-detail>p{
    height: 36px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}
.fa-star.filled{
    color: #FB8200;
}
.collection-p{
    font-size: 14px;
    font-weight: bold;
    color: #787885;
}
.button2{
    width: 99px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: #E02C6D;
    float: right;
    margin-top: 50px;
    border: 1px solid white;
}
.creative-photo img{
    height: 100%;
    width: 80%;
    background-size: cover;
    background-blend-mode: overlay;
}
.fa-star{
    font-size: 12px;
}


/* footer section style */

footer{
    background-color: rgb(25, 25, 59);
    width: 100%;
    height: 239px;

}
.footer-title{
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
}
.copyright{
    text-align: center;
    color: #D9DBE1;
    font-size: 14px;
    margin-top: 10px;
}
.footer-icon{
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }
  
  .fa-google {
    color: white;
  }
  .fa-youtube {
    color: white;
  }
  
  /* footer section style end */